* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url(foo.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}
h1 {
  text-align: center;
  margin: 100px 0 50px 0;
  background-color: black;
  color: white;
}
.keys {
  display: flex;
  justify-content: center;
}
.drum-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 70px;
  margin: 10px;
  border: black solid 3px;
  border-radius: 5px;
  /* background-color: rgb(80, 80, 80); */
  background: rgba(0, 0, 0, 0.65);
  transition: all 0.07s;
}
.playing {
  transform: scale(1.1);
  border-color: orange;
  box-shadow: 0 0 10px orange;
}
h2 {
  color: white;
}
p {
  font-size: 13px;
  color: orange;
}
